


Checks: >-
  modernize-*, 
  performance-*, 
  readability-*, 
  clang-analyzer-*, 
  misc-*, 
  portability-*, 
  cppcoreguidelines-*,

  -misc-no-recursion,

FormatStyle: file
CheckOptions:
  - key: readability-function-cognitive-complexity.Threshold
    value: 40
